@font-face {
  font-family: "iconfont";
  src: url("fonts/iconfont.eot?ef1j0q");
  src: url("fonts/iconfont.eot?ef1j0q#iefix") format("embedded-opentype"),
    url("fonts/iconfont.ttf?ef1j0q") format("truetype"),
    url("fonts/iconfont.woff?ef1j0q") format("woff"),
    url("fonts/iconfont.svg?ef1j0q#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconfont-"],
[class*=" iconfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-kk:before {
  content: "\6b";
}
.iconfont-oo:before {
  content: "\6f";
}
.iconfont-A:before {
  content: "\41";
}
.iconfont-B:before {
  content: "\42";
}
.iconfont-C:before {
  content: "\43";
}
.iconfont-D:before {
  content: "\44";
}
.iconfont-E:before {
  content: "\45";
}
.iconfont-F:before {
  content: "\46";
}
.iconfont-G:before {
  content: "\47";
}
.iconfont-H:before {
  content: "\48";
}
.iconfont-I:before {
  content: "\49";
}
.iconfont-J:before {
  content: "\4a";
}
.iconfont-K:before {
  content: "\4b";
}
.iconfont-L:before {
  content: "\4c";
}
.iconfont-M:before {
  content: "\4d";
}
.iconfont-N:before {
  content: "\4e";
}
.iconfont-O:before {
  content: "\4f";
}
.iconfont-P:before {
  content: "\50";
}
.iconfont-Q:before {
  content: "\51";
}
.iconfont-R:before {
  content: "\52";
}
.iconfont-S:before {
  content: "\53";
}
.iconfont-T:before {
  content: "\54";
}
.iconfont-U:before {
  content: "\55";
}
.iconfont-V:before {
  content: "\56";
}
.iconfont-W:before {
  content: "\57";
}
.iconfont-X:before {
  content: "\58";
}
.iconfont-Y:before {
  content: "\59";
}
.iconfont-Z:before {
  content: "\5a";
}
.iconfont-uniFF21:before {
  content: "\ff21";
}
.iconfont-uniFF22:before {
  content: "\ff22";
}
.iconfont-uniFF23:before {
  content: "\ff23";
}
.iconfont-uniFF24:before {
  content: "\ff24";
}
.iconfont-uniFF25:before {
  content: "\ff25";
}
.iconfont-uniFF26:before {
  content: "\ff26";
}
.iconfont-uniFF27:before {
  content: "\ff27";
}
.iconfont-uniFF28:before {
  content: "\ff28";
}
.iconfont-uniFF29:before {
  content: "\ff29";
}
.iconfont-uniFF2A:before {
  content: "\ff2a";
}
.iconfont-uniFF2B:before {
  content: "\ff2b";
}
.iconfont-uniFF2C:before {
  content: "\ff2c";
}
.iconfont-uniFF2D:before {
  content: "\ff2d";
}
.iconfont-uniFF2E:before {
  content: "\ff2e";
}
.iconfont-uniFF2F:before {
  content: "\ff2f";
}
.iconfont-uniFF30:before {
  content: "\ff30";
}
.iconfont-uniFF31:before {
  content: "\ff31";
}
.iconfont-uniFF32:before {
  content: "\ff32";
}
.iconfont-uniFF33:before {
  content: "\ff33";
}
.iconfont-uniFF34:before {
  content: "\ff34";
}
.iconfont-uniFF35:before {
  content: "\ff35";
}
.iconfont-uniFF36:before {
  content: "\ff36";
}
.iconfont-uniFF37:before {
  content: "\ff37";
}
.iconfont-uniFF38:before {
  content: "\ff38";
}
.iconfont-uniFF39:before {
  content: "\ff39";
}
.iconfont-uniFF3A:before {
  content: "\ff3a";
}
.iconfont-a:before {
  content: "\61";
}
.iconfont-b:before {
  content: "\62";
}
.iconfont-c:before {
  content: "\63";
}
.iconfont-d:before {
  content: "\64";
}
.iconfont-e:before {
  content: "\65";
}
.iconfont-f:before {
  content: "\66";
}
.iconfont-g:before {
  content: "\67";
}
.iconfont-h:before {
  content: "\68";
}
.iconfont-i:before {
  content: "\69";
}
.iconfont-j:before {
  content: "\6a";
}
.iconfont-k1:before {
  content: "\6c";
}
.iconfont-l:before {
  content: "\6d";
}
.iconfont-m:before {
  content: "\6e";
}
.iconfont-n:before {
  content: "\70";
}
.iconfont-o1:before {
  content: "\71";
}
.iconfont-p:before {
  content: "\72";
}
.iconfont-q:before {
  content: "\73";
}
.iconfont-r:before {
  content: "\74";
}
.iconfont-s:before {
  content: "\75";
}
.iconfont-t:before {
  content: "\76";
}
.iconfont-u:before {
  content: "\77";
}
.iconfont-v:before {
  content: "\78";
}
.iconfont-w:before {
  content: "\79";
}
.iconfont-x:before {
  content: "\7a";
}
.iconfont-y:before {
  content: "\7b";
}
.iconfont-z:before {
  content: "\7c";
}
.iconfont-uniFF41:before {
  content: "\ff41";
}
.iconfont-uniFF42:before {
  content: "\ff42";
}
.iconfont-uniFF43:before {
  content: "\ff43";
}
.iconfont-uniFF44:before {
  content: "\ff44";
}
.iconfont-uniFF45:before {
  content: "\ff45";
}
.iconfont-uniFF46:before {
  content: "\ff46";
}
.iconfont-uniFF47:before {
  content: "\ff47";
}
.iconfont-uniFF48:before {
  content: "\ff48";
}
.iconfont-uniFF49:before {
  content: "\ff49";
}
.iconfont-uniFF4A:before {
  content: "\ff4a";
}
.iconfont-uniFF4B:before {
  content: "\ff4b";
}
.iconfont-uniFF4C:before {
  content: "\ff4c";
}
.iconfont-uniFF4D:before {
  content: "\ff4d";
}
.iconfont-uniFF4E:before {
  content: "\ff4e";
}
.iconfont-uniFF4F:before {
  content: "\ff4f";
}
.iconfont-uniFF50:before {
  content: "\ff50";
}
.iconfont-uniFF51:before {
  content: "\ff51";
}
.iconfont-uniFF52:before {
  content: "\ff52";
}
.iconfont-uniFF53:before {
  content: "\ff53";
}
.iconfont-uniFF54:before {
  content: "\ff54";
}
.iconfont-uniFF55:before {
  content: "\ff55";
}
.iconfont-uniFF56:before {
  content: "\ff56";
}
.iconfont-uniFF57:before {
  content: "\ff57";
}
.iconfont-uniFF58:before {
  content: "\ff58";
}
.iconfont-uniFF59:before {
  content: "\ff59";
}
.iconfont-uniFF5A:before {
  content: "\ff5a";
}
.iconfont-uni7406:before {
  content: "\7406";
}
.iconfont-uni7AD9:before {
  content: "\7ad9";
}
.iconfont-uni7BA1:before {
  content: "\7ba1";
}
.iconfont-uni7CFB:before {
  content: "\7cfb";
}
.iconfont-uni7EDF:before {
  content: "\7edf";
}
.iconfont-uni7FA4:before {
  content: "\7fa4";
}
